@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html, body {
  height: 100%;
}

body {
  @apply bg-neutral-950 text-neutral-50 antialiased;
}

* {
  @apply selection:bg-white/20 selection:text-white;
}
